body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #EBFEFF;
  color: #212121;
}

h2 {
  font-size: 1.5em;

}
h3, p {
  font-size: 1em;
}

h2, h3, .unauthorised, .thank-you {
  text-align: center;
}

img {
  width: 50%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
