.navbar a, .nav-links button, #logout-button {
    font-size: .7em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1%;
}

nav a:hover, #logout-button:hover {
    text-decoration:underline;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.active {
    font-weight: bolder;
}

#logout-button, #cities {
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #212121;
    background-color: #ebfeff;
    font-weight: normal;
    cursor: pointer;
}

#img-div {
    display: flex;
    justify-content: center;
    margin: auto auto 2% auto;
}

img#logo {
    width: 50%;
}